@import url('https://fonts.google.com/specimen/Open+Sans');

header {
    background-color: #1d0d63;
    display: grid;
    grid-template-columns: 150px auto;
    position: sticky;
    top: 0px;
    height: 125px;
    font-size: large;
    z-index: 1;
}
  

nav {
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.logo {
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;  
}

#link1 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link2 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link3 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link4 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

  body {
    margin: 0% 0% 0% 0%;
}

.section-header {
    background-color: #168AAD;
    color: white;
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 10px 100px 10px 10px; */
}

.info-box {
    margin-left: 100px;
    margin-right: 100px;
}

#submit-btn {
    margin-left: 100px;
    margin-top: 15px;
    width: 200px;
    height: 30px;
    background-color: #76C893;
    border-radius: 15px;
}

footer {
    background-color: #1d0d63;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: large;
    margin-top: 100px;
}