#div1 {
    width: 200px;
    height: 200px;
    border: solid black;
}
#div2 {
    width: 200px;
    height: 200px;
    border: solid green;
}
#div3 {
    width: 200px;
    height: 200px;
    border: solid red;
}